<header>
    <h1><%= link_to 'MicroReddit', posts_path %></h1>
    <div class="user-area">
    <% if !signed_in? %>
        <%= form_with url: sessions_path do |form| %>
            <span><%= form.label 'Sign In' %></span>
            <span><%= form.text_field :username %></span>
        <% end %>
        <%= form_with url: users_path do |form| %>
            <span><%= form.label 'Sign Up' %></span>
            <span><%= form.text_field :username %></span>
        <% end %>
    <% else %>
        <span><%= current_user.name %></span>
        <span><%= button_to 'Sign Out', signout_path, method: :delete%></span>
    <% end %>
    </div>
</header>